<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpiderKeyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SpiderKeyboard.Properties.Settings>
            <setting name="Speed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Tail" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Weighting" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Sidetone" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="Iambic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Macro0" serializeAs="String">
                <value>^x</value>
            </setting>
            <setting name="Macro1" serializeAs="String">
                <value>^c</value>
            </setting>
            <setting name="Macro2" serializeAs="String">
                <value>^v</value>
            </setting>
            <setting name="Macro3" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro4" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedPot" serializeAs="String">
                <value>True</value>
            </setting>
        </SpiderKeyboard.Properties.Settings>
    </userSettings>
</configuration>